<div class="container">
  <div class="header">
    <img src="logo_icon.svg" alt="Логотип" class="logo">
    <h2>Управление медицинскими автоматами</h2>
  </div>
  <h1>Вход в систему</h1>
  <div class="form">
    <input type="text" [(ngModel)]="username" class="input-field" placeholder="Введите ФИО">
    <input type="password" [(ngModel)]="password" class="input-field" placeholder="Введите пароль">
  </div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div class="forgot-password" (click)="onChangePassword()">Изменить пароль</div>
  <button class="enter" (click)="onSubmit()">ВОЙТИ</button>
</div>
