<div class="component-container">
    <!-- Поле для поиска -->
    <div class="search-bar">
      <img src="search_icon.svg" alt="search icon" class="search-icon" />
      <input type="text" placeholder="Поиск необходимого действия" [(ngModel)]="searchText" (input)="filterActions()" />
    </div>
  
    <div class="action-cards">
      <!-- Проверка на наличие совпадений -->
      <div *ngIf="filteredActions.length === 0" class="no-matches">
        Совпадений с существующими действиями не найдено
      </div>
  
      <!-- Перебор отфильтрованных карточек -->
      <div *ngFor="let action of filteredActions" class="action-card">
        <img src="info_icon.svg" alt="info icon" class="info-icon" />
        <img [src]="action.icon" alt="card-image" class="card-image" />
        <button (click)="navigate(action.navigateTo)">{{ action.label }}</button>
      </div>
    </div>
  </div>
  