<div class="component-container">
    <div class="search-bar">
        <img src="search_icon.svg" alt="search icon" class="search-icon" />
        <input type="text" placeholder="Поиск необходимого действия" />
    </div>

    <div class="action-cards">
        <div class="action-card">
            <img src="info_icon.svg" alt="info icon" class="info-icon" />
            <img src="record_patient.svg" alt="patient_record" class="card-image" />
            <button>Записать пациента</button>
        </div>
        <div class="action-card">
            <img src="info_icon.svg" alt="info icon" class="info-icon" />
            <img src="link_unlink_card.svg" alt="link_unlink_card" class="card-image" />
            <button>Привязать/отвязать карту</button>
        </div>
        <div class="action-card">
            <img src="info_icon.svg" alt="info icon" class="info-icon" />
            <img src="prescribe_medications.svg" alt="prescribe_medications" class="card-image" />
            <button>Назначить препараты пациенту</button>
        </div>
        <div class="action-card">
            <img src="info_icon.svg" alt="info icon" class="info-icon" />
            <img src="patient_data.svg" alt="change_patient_data" class="card-image" />
            <button>Посмотреть/изменить данные о пациенте</button>
        </div>
        <div class="action-card">
            <img src="info_icon.svg" alt="info icon" class="info-icon" />
            <img src="journal_medication_intake.svg" alt="journal_medication_intake" class="card-image" />
            <button>Просмотреть журнал приёма лекарств</button>
        </div>
        <div class="action-card">
            <img src="info_icon.svg" alt="info icon" class="info-icon" />
            <img src="name_tablets_in_compartment.svg" alt="name_tablets_in_compartment" class="card-image" />
            <button>Изменить наименование таблеток в отсеке</button>
        </div>
        <div class="action-card">
            <img src="info_icon.svg" alt="info icon" class="info-icon" />
            <img src="add_tablets_to_compartment.svg" alt="add_tablets_to_compartment" class="card-image" />
            <button>Добавить таблетки в отсек</button>
        </div>
        <div class="action-card">
            <img src="info_icon.svg" alt="info icon" class="info-icon" />
            <img src="individual_patient's_medication_schedule.svg" alt="individual_patient's_medication_schedule" class="card-image" />
            <button>Просмотреть/изменить график приема лекарств пациента</button>
        </div>
    </div>
</div>
