<div class="container">
  <button class="back-button">
    <img src="left_arrow.svg" alt="Назад" class="icon"> Вернуться на главную </button>

  <h2>Заполните данные:</h2>

  <form>
    <div class="form-group">
      <label for="patient">ФИО пациента:</label>
      <input type="text" id="patient" class="input-field">
    </div>

    <div class="form-group">
      <label for="doctor">ФИО врача:</label>
      <input type="text" id="doctor" class="input-field">
    </div>

    <div class="form-group">
      <label for="nurse">ФИО медсестры:</label>
      <input type="text" id="nurse" class="input-field">
    </div>

    <div class="form-group">
      <label for="card-number">Номер карты: (опционально)</label>
      <input type="text" id="card-number" class="input-field">
    </div>

    <div class="form-group">
      <label for="medications">Назначенные препараты: (опционально)</label>
      <input type="text" id="medications" class="input-field">
    </div>

    <button type="submit" class="submit-button">ЗАПИСАТЬ</button>
  </form>
</div>
